:root {
    --white: #fff;
    --background: linear-gradient(90deg, hsla(291, 79%, 51%, 1) 0%, hsla(240, 91%, 73%, 1) 100%);
    --darker: #131416;
    --pink: rgb(237, 72, 218);
    --silver: #c0c0c0;
    --font-text: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background: var(--background);
    color: var(--white);
    max-width: 100vw;
    padding-top: 88px;
}

header,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    column-gap: 10px;
}

.input-task {
    width: 90%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--darker);
    color: var(--white);
    font-size: var(--font-text);
}

.input-task::placeholder {
    color: var(--silver);
}

.btn-add-task {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: var(--pink);
}

.task {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    background-color: var(--darker);
    padding: 0 15px;
    margin-bottom: 20px;
}

.content-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: var(--font-text);
}

.checkbox-task:checked+span {
    text-decoration: line-through;
    color: var(--silver);
}

.btn-delete-task {
    border: none;
    background: transparent;
    color: var(--silver);
    font-size: 16px;
}

@media (max-width: 1440px) {

    header,
    main {
        width: 55vw;
    }
}

@media (max-width: 1230px) {

    header,
    main {
        width: 65vw;
    }
}

@media (max-width: 768px) {

    body {
        padding-top: 55px;
    }

    header,
    main {
        width: 90vw;
    }

    .btn-add-task {
        height: 35px;
    }
}